*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

:root{
    --red:hsl(0,100%,74%);
    --green:hsl(154,59%,51%);
    --blue:hsl(248,32%,49%);
    --dark-blue:hsl(249,10%,26%);
    --grayish-blue:hsl(246,25%,77%);
}

.container{
    background-color: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    gap: 40px;
    line-height: 1.5rem;
    font-size: 16px;
}
.text-con{
 max-width: 350px;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 gap: 20px;
 color: white;
}

.box-span{
    width: 350px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--blue);
    box-shadow: 0px 5px 3px black;
}
.box-span a{
    text-decoration: none;
    cursor:pointer;
    color: white;
}
.form-con{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 350px;
    border-radius: 10px;
    
}
input{
    width: 300px;
    padding: 5px;
    outline: none;
    border-radius: 5px;
    margin: 10px;
}
form{
    padding: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 5px 3px black;
}
form div{
    display: flex;
    flex-direction: column;
}
.btn{
    background-color: var(--green);
    box-shadow: 0px 1px 3px black;
    cursor:pointer;
}

.gg{
    color: var(--red);
}

.f{
    position: absolute;
    top: 13px;
    right: 25px;
    display: none;
}

.error{
   border: 2px solid var(--red);
   background: url(images/icon-error.svg) no-repeat;
   background-position: 95% 50%;
}

.error-text{
    font-size: 12px;
    font-style: italic;
    margin-left: 50%;
    margin-top: -15px;
    margin-bottom: 20px;
    color: var(--red);
}

.success{
    border: 2px solid var(--green);
}

@media (max-width:925px) {
.container{
    flex-direction: column;
}

.text-con, .form-con, .box-span, form{
    max-width: 250px;
}
.from-textbox {
    max-width: 220px;
}
form{
    margin-bottom: 20px;
}
.container{
    min-height: 100vh;
}
.error-text{
    margin-left: 40%;
}
}